.alignright {
    text-align: right;
}

.alignleft {
    text-align: left;
}

.aligncenter {
    text-align: center;
}
.hide{
    display:none;
}
.loader-active {
    background: #f9f9f9;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 2px 1px 0px #f83531;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    -webkit-animation: spin 0.7s linear infinite;
    animation: spin 0.7s linear infinite;
}

@-webkit-keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.pin-wrapper {
    min-height: 100vh;
    background-color: #1c3d88;
}
.pin-wrapper .pincode-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pincode-input-container .pincode-input {
    border: none;
    -webkit-appearance: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.timeLog {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    color: #fff;
    padding-bottom: 100px;
}

.login-logo {
    position: absolute;
    top: 0;
    color: #fff;
    left: calc(50vw - 68.5px);
    width: 150px;
}

/* #player {
    width: 400px;
}
.video-section {
    position: relative;
}

.video-section canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
} */


video#camera--view {
    width: 100%;
    height: 300px;
    transform: scaleX(-1);
    filter: FlipH;
}

img#camera--output, #camera--sensor {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
    filter: FlipH;
    position: absolute;
    bottom: 0;
}

.show-break .d-show {
    display: none !important;
}
.show-break .d-none {
    display: block !important;
}

.main-logo {
    width: 70px;
}

#map {
    height:500px;
    width: 100%;
    overflow: hidden;
}

.map-data {
    overflow: hidden;
}

#map-form {
    overflow: hidden;
    pointer-events: none;
    height:100%;
}
.map-video {
    position: relative;
    height:700px;
}

.video-section {
    position: absolute;
    bottom: 115px;
    z-index: 1111;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.leaflet-pane.leaflet-map-pane {
    transform: translate3d(0px, -190.074px, 0px) !important;
}
/* #player{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 95%;
    margin: 0 auto;
    display: block;
    background-color: #1c3d88;
} */

.driver-form-section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clockin-design{
    position: absolute;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 65px;
    box-shadow: 0 0 16px rgb(0 0 0 / 20%);
    top: -160px;
    z-index: 1111;
    margin: 0 auto;
    left: 5%;
    background-color: #f1f3f5;
    padding: 0 10px;
}

.selecotr-item{
    position:relative;
    flex-basis:calc(90% / 3);
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.selector-item_radio{
    appearance:none;
    display:none;
}
.selector-item_label{
    position:
    relative;
    height: 45px;
    width:100%;
    text-align:center;
    border-radius: 30px;
    line-height: 45px;
    font-weight: 500;
    transition-duration:.5s;
    transition-property:
    transform, color, box-shadow;
    transform:none;
    padding: 0;
}
.selector-item_radio:checked + .selector-item_label{
    background-color: #1c3d88;
    color:
    var(--white);
    box-shadow:0 0 4px
    rgba(0,0,0,.5),0 2px 4px rgba(0,0,0,.5);
    transform:
    translateY(-2px);
}


.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #1c3d88;
    box-shadow: none;
    color: #fff;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}


@media (min-width: 768px){
    .driver-clockin {
        max-width: 600px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .video-wrapper,.video-section canvas {
        width: 100%;
    }
   

}