.alignright {
    text-align: right;
}

.alignleft {
    text-align: left;
}

.aligncenter {
    text-align: center;
}

.loader-active {
    background: #f9f9f9;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 2px 1px 0px #f83531;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    -webkit-animation: spin 0.7s linear infinite;
    animation: spin 0.7s linear infinite;
}

@-webkit-keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.pin-wrapper {
    min-height: 100vh;
    background-color: #dc291e;
}
.pin-wrapper .pincode-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pincode-input-container .pincode-input {
    border: none;
    -webkit-appearance: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.timeLog {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    color: #fff;
    padding-bottom: 100px;
}

.login-logo {
    position: absolute;
    bottom: 200px;
    color: #fff;
    left: calc(50vw - 68.5px);
}

.video-wrapper {
    width: 400px;
}
.video-section {
    position: relative;
}

.video-section canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
}

.show-break .d-show {
    display: none !important;
}
.show-break .d-none {
    display: block !important;
}

.main-logo {
    width: 70px;
}

@media (max-width: 768px) {
    .video-wrapper {
        width: 100%;
    }
    .video-section canvas {
        width: 100%;
    }
}

