.login-container {
    /*background-color:  #343a40 !important;*/
}

.login-container h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 20px 0 25px;
}

.login-pin,
.login-username {
    position: relative;
    width: 100%;
    padding: 5rem;
    height: calc(100vh);
    background-color: #ffffff;
    background-image: url(../img/login-bg-top.png),
        url(../img/login-bg-bottom.png);
    /*background-image: url(../img/bg/signup_top.png), url(../img/bg/signup_bottom.png);*/
    background-position: top 0 left 0, bottom 0 right 0;
    background-repeat: no-repeat, no-repeat;
}

.login-container.login-pin input {
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-color: #545c64;
    color: #495057;
    font-size: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 15px 0 0;
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
}
.login-container.login-pininput: last-child {
    margin: 0;
}

.login-pin input:focus {
    /*border: 1px solid #573D8B;*/
    outline: none;
}

.mid-container {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 4rem;
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
    z-index: 2;
}
.login-logo {
    position: absolute;
    bottom: 25px;
    text-align: center;
}

.form-control {
    font-size: 14px;
}

label {
    font-weight: 600;
}

.col-form-label {
    font-size: 1rem;
    font-weight: 700;
}
.form-check-inline .form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.btn {
    font-weight: 700;
}

.btn-lg {
    padding: 0.75rem 1.5rem;
}

.btn-danger {
    background-color: #ff0000;
    border-color: #ff0000;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
    background-color: #cc0000;
    border-color: #cc0000;
}

.btn-danger:disabled,
.btn-danger:disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #ff0000;
}

@media screen and (max-width: 991.98px) {
    .form-control {
        font-size: 1rem;
    }
}

@media screen and (max-width: 840px) {
    .login-pin {
        padding: 0;
    }
    .login-container.login-pin input {
        width: 60px;
        height: 60px;
    }
    .mid-container {
        padding: 4rem 2rem;
    }
}
